body{
    height: 100vh;
    margin: 0;
    padding: 0;

    display: grid;
    grid: 1fr 4fr / 1fr 4.5fr;
    overflow: hidden;
}

li{
    list-style: none;
    font-size: 24px;
    font-weight: 800;
    color: #e0f2fe;
}

ul{
    display: grid;
    row-gap: 14px;
    padding-inline-start: 16px;
}

ul + ul {
    margin-top: 72px;
}

.header{
    background-color: #f0f9ff;
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid: 1fr 2fr / 2.5fr 1.5fr;
    padding: 1rem 1rem 0 0;
}

form{
    grid-area: 1 / 1 / 2 / 2;
    margin-left: 5rem;
}

#search {
    border-radius: 10rem;
    width: 25rem;
    height: 1.5rem;
    background-color: #e0f2f2;
}

.header-welcome{
    grid-area: 2 / 1 / 3 / 1;
    margin-left: 5rem;
    font-weight: 600;
    font-size: 16px;
}

#welcome{
    font-size: 22px;
}

.header-profile{
    text-align: end;
    font-weight: 600;
    font-size: 18px;
}

.header-buttons{
    text-align: center;
}

button{
    height: 2rem;
    width: 6rem;
    border-radius: 10rem;
    background-color: #3b82f6;
    color: #e0f2f2;
    font-weight: 600;
    font-size: 16px;
    border: 0;
}

button + button {
    margin-left: 24px;
}

.sidebar{
    background-color: #3b82f6;
    grid-area: 1 / 1 / 3 / 2;
}

#side-head{
    color: #e0f2fe;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content{
    background-color: #e0f2fe;
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid: 1fr / 3fr 1fr;
    box-shadow: 0px -1px rgba(128, 128, 128, 0.459);
}

.projects{
    padding-left: 1rem;
}

.projects-container{
    display: grid;
    grid: 1fr 1fr / 1fr 1fr;
    gap: 20px;
}

#project-heading , #content-sidebar-heading{
    font-weight: 600;
    font-size: 20px;
}

.content-box{
    background-color: #f0f9ff;
    max-height: 11rem;
    max-width: 22rem;
    display: grid;
    grid: 1fr 3fr / 1fr 40fr;
    column-gap: 12px;
    box-shadow: 1px 1px rgba(128, 128, 128, 0.208);
}

#box-heading{
    font-weight: 600;
    font-size: 18px;
}

#box-text{
    word-break: break-word;
    font-size: 14px;
    font-weight: 600;
    color: black;
    opacity: 0.8;
}

#box-filler{
    background-color: yellowgreen;
    grid-area: 1 / 1 / 3 / 2;
}

.content-sidebar{
    display: grid;
    grid: 1fr 1fr / 1fr;
    padding-right: 1rem;
}

.content-sidebar-announcements , .content-sidebar-trending{
    background-color: #f0f9ff;
}

.content-sidebar-announcements{
    display: grid;
    grid: repeat(3,0.5fr) / 1fr;
    padding: 10px;
    box-shadow: 1px 1px gray;
    border-radius: 1rem;
}

.content-sidebar-trending{
    height: 65%;
    box-shadow: 1px 1px gray;
    border-radius: 1rem;
}

#content-sidebar-box-heading{
    font-size: 12px;
    font-weight: 600;
}

#content-sidebar-box-text{
    font-size: 10px;
    color: black;
    opacity: 0.8;
    font-weight: 600;
}

.content-sidebar-trending{
    display: grid;
    grid: repeat(4,0.5fr) / 1fr;
    padding-left: 10px;
}

#side-head::before{
    content: url("hexagon-slice-6.svg");
    width: 50px;
    height: 50px;
}